Repository plHuan455/nextjs-14-auth-base: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --max-warnings=0, prettier --config .prettierrc --write "**/*.{js,jsx,ts,tsx,css,scss}", prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint . --max-warnings=0",
    "prettier --config .prettierrc --write \"**/*.{js,jsx,ts,tsx,css,scss}\""
  ],
  "**/*.json": ["prettier --write"]
}

YT-0/login
  .npmrc
  components/atoms/input/index.tsx
  components/atoms/typography/index.tsx
  content/en.json
  content/vi.json
  next.config.js
  package.json
  pnpm-lock.yaml
  services/api/auth/index.tsx
  services/api/auth/types.ts
  services/api/shop/index.ts
  services/api/shop/types.ts
  services/api/video/index.ts
  services/api/video/types.ts
  services/grpc/index.ts
  src/app/[locale]/(auth)/layout.tsx
  src/app/[locale]/page.tsx
  src/app/api/status/route.ts
  src/middleware.ts
  styles/variables.scss
  views/login/index.tsx
Due: eslint . --max-warnings=0, prettier --config .prettierrc --write "**/*.{js,jsx,ts,tsx,css,scss}", prettier --write

YT-0/service-login
  components/templates/profile-wrapper/index.tsx
  constants/image.ts
  constants/query-key.ts
  constants/storage.ts
  hooks/services/useAuth.ts
  lib/jotai/atoms/auth/index.ts
  lib/jotai/provider/hydrate-wrapper.tsx
  lib/jotai/provider/index.tsx
  package.json
  pnpm-lock.yaml
  services/api/auth/helpers.ts
  services/api/auth/index.tsx
  services/api/auth/types.ts
  services/grpc/configs.ts
  services/storage/constants.ts
  services/storage/index.ts
  src/app/[locale]/layout.tsx
Due: eslint . --max-warnings=0, prettier --config .prettierrc --write "**/*.{js,jsx,ts,tsx,css,scss}", prettier --write

YT-0/update-config
  services/api/auth/index.tsx
  services/api/auth/types.ts
Due: eslint . --max-warnings=0, prettier --config .prettierrc --write "**/*.{js,jsx,ts,tsx,css,scss}"

Update package.json
  package.json
Due: prettier --write

UPDATE-CONFIG
  .env.development
  .env.production
  .env.test
  envs/index.tsx
  hooks/generals/useDeviceQueries.ts
  lib/utils/image.ts
  lib/utils/nextjs.ts
  lib/utils/number.ts
  lib/utils/sitemap/index.ts
  lib/utils/sitemap/types.ts
  lib/utils/string.ts
  lib/utils/time.ts
  lib/utils/url.ts
  next.config.js
  plopFile.js
  pnpm-lock.yaml
  public/robots.txt
  services/grpc/configs.ts
  services/grpc/cookie.ts
  services/grpc/helpers.ts
  src/app/[locale]/layout.tsx
  src/app/robots.txt/route.ts
  src/app/sitemap.xml/route.ts
Due: eslint . --max-warnings=0, prettier --config .prettierrc --write "**/*.{js,jsx,ts,tsx,css,scss}"

UPDATE DOCKER SCRIPT
  package.json
Due: prettier --write

Update set-node-env.js
  set-node-env.js
Due: eslint . --max-warnings=0, prettier --config .prettierrc --write "**/*.{js,jsx,ts,tsx,css,scss}"

Update index.tsx
  components/atoms/image-base/index.tsx
Due: eslint . --max-warnings=0, prettier --config .prettierrc --write "**/*.{js,jsx,ts,tsx,css,scss}"
